<%= render 'layouts/header' %>
<!DOCTYPE html>

<html>

    <head>
        <title> Demo Page </title>

        <!-- META INFORMATION -->

        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">

        <meta name="description" content="Leaflet plugin to animate marker !">
        <meta name="keywords" content="Leaflet MovingMarker marker ewoken github animation">
        <meta name="author" content="Ewoken">

        <!-- CSS -->
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
        <!-- <link rel="stylesheet" href="style.css" /> -->

    </head>
    <body>
        <div class="row col-md-12">  
            <div class="col-md-3"></div>          
            <div class="col-md-3 center">
                <div class="card">
                  No cabs are available at the moment. We request you to try again in a few minutes.
                </div>
            </div>
        </div>
      </body>