

<header class=" navbar-default navbar-fixed-top navbar-inverse">
<!--   <div class="container">
    <div class="header-container subfont">
      <div class="navbar-header"> -->
        <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle Navigation</span> -->
         <!--  <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> -->
        </button>
        <div class="logo">
          <%= link_to "/" do %>
            <!--<%= image_tag "xmas-drip-2.png", :height => "70", :alt => "home", :title => "Drip Capital", :style => "margin-top: -2px; margin-right: 15px;" %>-->
            <!--<%= image_tag "santa-2.png", :height => "50", :style => "margin-top: 10px; margin-right: 15px; position: absolute; top: -15px;" %>-->
            <%= image_tag "xpool.png", :height => "32", :alt => "home", :title => "Drip Capital", :style => "margin-top: 8px; margin-right: 15px; margin-left: 8px;" %>
          <% end %>
        </div>
      </div>
      </div>
    </div>

